body{
/* Fondo */
position: absolute;
width: 1440px;
height: 1024px;
left: 0 px;
top: 0 px;

background: url(/images/girl-with-red-hat-lMgLlXVqWS4-unsplash.jpg);
background-size:cover;
}


header{
    /* encabezado */
    position: center;
    width: 1402px;
    height: 309px;
    left: -18px;
    top: 32px;
}

.encabezadotexto{
/* encabezadotexto */
position: absolute;
width: 1000px;
height: 200px;
left: 64px;
top: 82px;
align-items: center;
text-align: center;
background: rgba(255, 255, 255, 0.41);
border-radius: 25px;
}

.fotografia{
/* fotografia */
position: absolute;
width: 300px;
height: 300px;
left: 1084px;
top: 34px;
background: url(/images/231700520_229683422356286_4694296832878463858_n.jpg);
border-radius: 1000px;
}
 .contenido{
/* Contenido */


position: absolute;
width: 1314px;
height: 500px;
left: 46px;
top: 370px;
 }


 .tajertatalleres{
    position: absolute;
    align-items: center;
    text-align: center;
    width: 250px;
    height:450px;
    left: 46px;
    top: 40px;
    
    background: whitesmoke;
    border-radius: 25px;


 }

 .t1{
   position: absolute;
   align-items: center;
   text-align: center;
   width: 250px;
   height:450px;
   left: 80px;
   top: px;
   
   background-color: rgba(255, 255, 255, 0.41);
   border-radius: 25px;
 }

 .tajertaconsultas{
    position: absolute;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 450px;
    left: 520px;
    top: 40px;
    
    background: whitesmoke;
    border-radius: 25px;
 }

 .t2{
   position: absolute;
   align-items: center;
   text-align: center;
   width: 255px;
   height: 450px;
   left: 543px;
   top: 2px;
   
   background-color: rgba(255, 255, 255, 0.41);;
   border-radius: 25px;
 }

.tajertasretos {
   font-family: SeoulHangang CEB;
   align-items: center;
   text-align: center;
   position: absolute;
   width: 250px;
   height: 450px;
   left: 960px;
   top: 40px;

   background: whitesmoke;
   border-radius: 25px;
}
.t3{
   position: absolute;
   align-items: center;
   text-align: center;
   width: 250px;
   height:450px;
   left: 990px;
   top: 20;
   
   background-color: rgba(255, 255, 255, 0.41);;
   border-radius: 25px;
 }


.piedepagina{
   position: absolute;
   width: 1318px;
   height: 114px;
   left: 62px;
   top: 910px;
   
   background: rgba(255, 255, 255, 0.41);
   border-radius: 25px;
   }

.gato{
   /* emojione-monotone:cat-face */


   position: absolute;
   width: 64px;
   height: 64px;
   left: 1240px;
   top: 30px;
}

.repo
{
   position: absolute;
   left: 82.36%;
   right: 11.74%;
   top: 20 px;
   bottom: 2.93%;
}

.fuente{
font-family: SeoulHangang CEB;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;
}

.orden{
   position: absolute;
width: 1997px;
height: 77.52px;
left: 72px;
top: 10px;

font-family: SeoulHangang CEB;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
display: flex;
align-items: center;

color: #000000;
}
